<!DOCTYPE html>
<html>

    <head>
        <title>Victory - Our Menus</title>
    </head>

<body>

    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Menus</h1>
                    <p>Curabitur at dolor sed felis lacinia ultricies sit amet vel sem. Vestibulum diam leo, sodales tempor lectus sed, varius gravida mi.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="@Url.Content("~/img/breakfast_menu.jpg")" alt="Breakfast"/>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>Breakfast Menu</h2>

                                <div id="owl-breakfast" class="owl-carousel owl-theme">

                                    @{
                                        foreach(var food in ViewBag.BreakfastFoods)
                                        {
                                            <div class="item col-md-12">
                                            <div class="food-item">
                                            <img src="@Url.Content(@food.RelativeImagePath)" alt=""/>
                                            <div class="price">
                                             @String.Format(
                                                 format:"${1,-5:0.00}",
                                                 arg0:"{1,10:0.00}",
                                                 arg1: food.CostInUSD).Replace(",",".")
                                            </div>
                                            <div class="text-content">
                                                <h4>@food.Name</h4>
                                                <p>@food.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lunch-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="lunch-menu-content">
                        <div class="row">
                            <div class="col-md-7">

                                <h2>Lunch Menu</h2>

                                <div id="owl-lunch" class="owl-carousel owl-theme">

                                     @{
                                        foreach(var food in ViewBag.LunchFoods)
                                        {
                                            <div class="item col-md-12">
                                            <div class="food-item">
                                            <img src="@Url.Content(@food.RelativeImagePath)" alt=""/>
                                            <div class="price">
                                             @String.Format(
                                                 format:"${1,-5:0.00}",
                                                 arg0:"{1,10:0.00}",
                                                 arg1: food.CostInUSD).Replace(",",".")
                                            </div>
                                            <div class="text-content">
                                                <h4>@food.Name</h4>
                                                <p>@food.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                }

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="@Url.Content("~/img/lunch_menu.jpg")" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dinner-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="dinner-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="@Url.Content("~/img/dinner_menu.jpg")" alt=""/>
                                </div>
                            </div>
                            <div class="col-md-7">

                                <h2>Dinner Menu</h2>

                                <div id="owl-dinner" class="owl-carousel owl-theme">

                                    @{
                                        foreach(var food in ViewBag.DinnerFoods)
                                        {
                                            <div class="item col-md-12">
                                            <div class="food-item">
                                            <img src="@Url.Content(@food.RelativeImagePath)" alt=""/>
                                            <div class="price">
                                             @String.Format(
                                                 format:"${1,-5:0.00}",
                                                 arg0:"{1,10:0.00}",
                                                 arg1: food.CostInUSD).Replace(",",".")
                                            </div>
                                            <div class="text-content">
                                                <h4>@food.Name</h4>
                                                <p>@food.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="book-table">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Book Your Table Now</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="left-image">
                        <img src="@Url.Content("~/img/book_left_image.jpg")" alt="" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-info">
                        <h4>Reservation</h4>
                        <form id="form-submit" action="" method="get">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required name='day' onchange='this.form.()'>
                                            <option value="">Select day</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                            <option value="Sunday">Sunday</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required name='hour' onchange='this.form.()'>
                                            <option value="">Select hour</option>
                                            <option value="10-00">10:00</option>
                                            <option value="12-00">12:00</option>
                                            <option value="14-00">14:00</option>
                                            <option value="16-00">16:00</option>
                                            <option value="18-00">18:00</option>
                                            <option value="20-00">20:00</option>
                                            <option value="22-00">22:00</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="name" type="name" class="form-control" id="name" placeholder="Full name" required="">
                                    </fieldset> 
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="phone" type="phone" class="form-control" id="phone" placeholder="Phone number" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required class="person" name='persons' onchange='this.form.()'>
                                            <option value="">How many persons?</option>
                                            <option value="1-Person">1 Person</option>
                                            <option value="2-Persons">2 Persons</option>
                                            <option value="3-Persons">3 Persons</option>
                                            <option value="4-Persons">4 Persons</option>
                                            <option value="5-Persons">5 Persons</option>
                                            <option value="6-Persons">6 Persons</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Book Table</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>